<a href="https://colab.research.google.com/github/Loi-Mattia/infoPython/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

In [ ]:
df. iloc[:, 0]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
81                 VIALE ZARA 131
Name: Indirizzo, Length: 82, dtype: object

In [ ]:
df. iloc[:, -1]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

In [ ]:
df. iloc[:,2:5]

            Fax    CAP  MUNICIPIO
0   02-29002004  20121          1
1   02-58319779  20122          1
2   02-86454450  20122          1
3           NaN  20154          8
4    02-7837251  20121          1
..          ...    ...        ...
77   02-8373830  20144          6
78  02-32671947  20155          8
79  02-58457947  20135          5
80  02-41411347  20146          6
81  02-69911147  20159          9

[82 rows x 3 columns]

In [ ]:
df. iloc[:,[2,5]]

            Fax  ID_NIL
0   02-29002004       2
1   02-58319779       5
2   02-86454450       1
3           NaN      69
4    02-7837251       4
..          ...     ...
77   02-8373830      44
78  02-32671947      71
79  02-58457947      27
80  02-41411347      52
81  02-69911147      12

[82 rows x 2 columns]

In [ ]:
df[["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

In [ ]:
df.iloc[0]

Indirizzo                  BASTIONI DI PORTA VOLTA 7
Telefono                                  02-6572655
Fax                                      02-29002004
CAP                                            20121
MUNICIPIO                                          1
ID_NIL                                             2
NIL                                            BRERA
LONG_X_4326                                  9.18215
LAT_Y_4326                                   45.4796
Location       (45.47960100000006;9.182151000000033)
Name: 0, dtype: object

In [ ]:
df.iloc[-1]

Indirizzo                             VIALE ZARA 131
Telefono                                 02-69911111
Fax                                      02-69911147
CAP                                            20159
MUNICIPIO                                          9
ID_NIL                                            12
NIL                          MACIACHINI - MAGGIOLINA
LONG_X_4326                                  9.19669
LAT_Y_4326                                   45.5002
Location       (45.50019300000008;9.196686000000057)
Name: 81, dtype: object

In [ ]:
df.iloc[(len(df)//2)]

Indirizzo                 VIA GIUSEPPE RIPAMONTI 167
Telefono                                 02-53580011
Fax                                      02-53580047
CAP                                            20141
MUNICIPIO                                          5
ID_NIL                                            38
NIL                          VIGENTINO - Q.RE FATIMA
LONG_X_4326                                  9.20112
LAT_Y_4326                                   45.4352
Location       (45.43522200000007;9.201118500000064)
Name: 41, dtype: object

In [ ]:
df.iloc[[3,4,12]]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

In [ ]:
df.iloc[10:16]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

In [ ]:
df.iloc[10:15,[0,6]]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA

In [ ]:
df.iloc[[3,5,12],[1,2]]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

In [ ]:
df.iloc[3:10,1:6]

      Telefono          Fax    CAP  MUNICIPIO  ID_NIL
3          NaN          NaN  20154          8      69
4  02-76023056   02-7837251  20121          1       4
5  02-47714011  02-47714047  20146          6      49
6  02-42255211  02-42255247  20146          6      49
7    02-325774   02-3271232  20148          8      66
8  02-37790911  02-37790947  20158          9      78
9   02-2665192  02-26680123  20131          3      22

visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df.loc[df['Indirizzo'].str.contains("PIAZZA NAPOLI")]["Telefono"]

6    02-42255211
Name: Telefono, dtype: object

visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df.loc[df['NIL'].str.contains("NIGUARDA ")][["Indirizzo","Telefono"]]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df.loc[(df["Telefono"].isnull()) | (df["Fax"].isnull())]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL)

In [ ]:
df['NIL'].value_counts()

DUOMO                                                          7
BRERA                                                          4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
GIAMBELLINO                                                    3
ISOLA                                                          3
PADOVA - TURRO - CRESCENZAGO                                   2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
TIBALDI                                                        2
XXII MARZO                                                     2
MACIACHINI - MAGGIOLINA                                        2
SARPI                                                          2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
LORETO - CASORETTO - NOLO                                      2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
FORZE ARMATE                                                   2
AFFORI                                                         2
DE ANGELI - MONTE ROSA                                         1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
BRUZZANO                                                       1
ROGOREDO - SANTA GIULIA                                        1
FARINI                                                         1
SCALO ROMANA                                                   1
GRECO - SEGNANO                                                1
DERGANO                                                        1
QUINTO ROMANO                                                  1
QT 8                                                           1
STAZIONE CENTRALE - PONTE SEVESO                               1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
PAGANO                                                         1
CORSICA                                                        1
BOVISASCA                                                      1
VIGENTINO - Q.RE FATIMA                                        1
LAMBRATE - ORTICA                                              1
PORTA VIGENTINA - PORTA LODOVICA                               1
PORTA TICINESE - CONCHETTA                                     1
PORTA MAGENTA                                                  1
PORTA GENOVA                                                   1
ADRIANO                                                        1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
GUASTALLA                                                      1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
MONCUCCO - SAN CRISTOFORO                                      1
PTA ROMANA                                                     1
BANDE NERE                                                     1
PORTA GARIBALDI - PORTA NUOVA                                  1
SAN SIRO                                                       1
LODI - CORVETTO                                                1
MONLUE' - PONTE LAMBRO                                         1
GORLA - PRECOTTO                                               1
UMBRIA - MOLISE - CALVAIRATE                                   1
CITTA' STUDI                                                   1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
Name: NIL, dtype: int64

visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici in giÃ¹

In [ ]:
df['NIL'].value_counts().sort_values()

QT 8                                                           1
PAGANO                                                         1
CORSICA                                                        1
BOVISASCA                                                      1
VIGENTINO - Q.RE FATIMA                                        1
LAMBRATE - ORTICA                                              1
PORTA VIGENTINA - PORTA LODOVICA                               1
PORTA TICINESE - CONCHETTA                                     1
PORTA MAGENTA                                                  1
PORTA GENOVA                                                   1
ADRIANO                                                        1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
GUASTALLA                                                      1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
MONCUCCO - SAN CRISTOFORO                                      1
PTA ROMANA                                                     1
BANDE NERE                                                     1
PORTA GARIBALDI - PORTA NUOVA                                  1
SAN SIRO                                                       1
LODI - CORVETTO                                                1
MONLUE' - PONTE LAMBRO                                         1
GORLA - PRECOTTO                                               1
UMBRIA - MOLISE - CALVAIRATE                                   1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
STAZIONE CENTRALE - PONTE SEVESO                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
QUINTO ROMANO                                                  1
DERGANO                                                        1
GRECO - SEGNANO                                                1
SCALO ROMANA                                                   1
FARINI                                                         1
ROGOREDO - SANTA GIULIA                                        1
BRUZZANO                                                       1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
DE ANGELI - MONTE ROSA                                         1
CITTA' STUDI                                                   1
PADOVA - TURRO - CRESCENZAGO                                   2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
TIBALDI                                                        2
XXII MARZO                                                     2
MACIACHINI - MAGGIOLINA                                        2
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
LORETO - CASORETTO - NOLO                                      2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
FORZE ARMATE                                                   2
AFFORI                                                         2
SARPI                                                          2
ISOLA                                                          3
GIAMBELLINO                                                    3
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
BRERA                                                          4
DUOMO                                                          7
Name: NIL, dtype: int64

visualizzare i municipi che hanno piÃ¹ di 13 uffici postali

In [ ]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 13]

1    14
Name: MUNICIPIO, dtype: int64

In [ ]:
df['MUNICIPIO'].value_counts().max()

14

In [ ]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > df['MUNICIPIO'].value_counts().mean()]

1    14
9    13
Name: MUNICIPIO, dtype: int64

eliminare tutti i record relativi al NIL di Niguarda

In [ ]:
df1 = df.drop(df[df['NIL'].str.contains("NIGUARDA ")].index)
df1

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

eliminare le ultime tre colonne

In [ ]:
df.drop(columns= df.iloc[:,-3:])